// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#logo {
  position: relative;
  padding-left: 35px;
}

#logo img {
  left: 0;
  top: 0;
  position: absolute;
}